
{% extends 'base.html' %}

{% block title %} MyLittleStore {% endblock %}
{% block content %}

{% load static %}

<div class="container-fluid home-container">


     <div class="painel painel-card">
          <a href="{% url 'cliente' %}">
            <img class="menu-home-icon" src="{% static 'images/customer.png'%}" alt="customer">
            <h4>Clientes</h4>
          </a>
     </div>
     <div class="painel painel-card">
               <a href="{% url 'produto' %}">   
                 <img class="menu-home-icon" src="{% static 'images/product.png'%}" alt="customer">
                 <h4>Produtos</h4>
               </a> 
     </div>

</div>

{% endblock content %}