
{% extends 'base.html' %}

{% block title %} MyLittleStore {% endblock %}
{% block content %}

<div class="container">

    <div class="row">
        <div class="col-md-12">

            <form method="POST" action="{% url 'editproduto' produto.id %}">
              {% csrf_token %}

              {{produtoform.as_p}}

              <button type="submit" name="btadd"  id="btadd" class="btn btn-success">Salvar</button>
              <button type="reset" name="btclear"  id="btclear"  class="btn btn-warning">Limpar</button>
            </form>
      

        </div>

        {% if error %}
            <div class="alert alert-danger mt-3" role="alert">
                {{ error }}
            </div>
        {% endif %}    
    
    </div>

</div>

{% endblock content %}

