/* * { border: 1px solid blue;}  just for test/ apenas pra test */

.customer-icon {

    width: 50px;
    height: 50px;

}

.painel {
 
    /* width: 95%;
    height: 300px; */
    background-color: inherit;
    /* border: 1px solid rgb(10, 75, 216); */
    border-radius: 15px;
    margin: 10px auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: auto;
  
  }
   
  .painel-card {
  
    /* background-color: rgb(114, 166, 211); */
  
    color: rgb(25, 38, 153);
  
  /*  border-right: 5px solid rgb(62, 57, 107);
      border: 5px solid rgb(62, 57, 107); */
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-left: 10px solid rgb(62, 141, 62);
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
      margin: 20px auto;
      width: 325px;
      height: 200px;
      border-radius: 12px;
      padding: 50px;
      padding-top: 60px;
   /* background-color: #FFF; */
      background-color: #8bca8d;
  
  }

  .painel-card hr {

    background-color: rgb(177, 219, 177);
    height: 1px;
  
  }
  
  .painel-card h4 { 
  
    font-weight:bold;
    font-size: 1.2rem;
  
  }
  
  .painel-card h5 { 
     
    font-weight:bolder;
    font-size: 2.0rem;
    
  }
  
  .painel-card h6 {
  
    color: #9d2dac;
    font-size: 18px;
    font-weight: 600;
  
  }