/* *{ border: 1px solid blue;}   */

.menu-home-icon {

    width: 50px;
    height: 50px;
    

}


.home-container {

   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   gap: 1px;
   padding-left: 20%;
   padding-right: 20%;
 
}
.painel {
 
    /* width: 95%;
    height: 300px; */
    background-color: inherit;
    /* border: 1px solid rgb(10, 75, 216); */
    border-radius: 15px;
    margin: 10px auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow:hidden;
  
  }
   

  .painel-card a {
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-around;
    padding-top: 10%;
  }
  .painel-card {
  
    /* background-color: rgb(114, 166, 211); */
      color: rgb(25, 38, 153);
  /*  border-right: 5px solid rgb(62, 57, 107);
      border: 5px solid rgb(62, 57, 107); */
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-left: 10px solid rgb(62, 141, 62);
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
      margin: 20px auto;
      width: 270px;
      height: 120px;
      border-radius: 12px;
      padding: 30px;
      padding-top: 20px;
   /* background-color: #FFF; */
      background-color: #8bca8d;
      padding: 5px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
  
  }

  .painel-card hr {

    background-color: rgb(177, 219, 177);
    height: 1px;
  
  }
  
  .painel-card h4 { 
  
    font-weight:bold;
    font-size: 1.2rem;
  
  }
  
  .painel-card h5 { 
     
    font-weight:bolder;
    font-size: 2.0rem;
    
  }
  
  .painel-card h6 {
  
    color: #9d2dac;
    font-size: 18px;
    font-weight: 600;
  
  }